:root{
	--main-bg: #1a1a1a;
	--main-color: #f0f0f0;
	--sec-bg: #f0f0f00f;
	--sec-color: #f0f0f0;
	--gradient: linear-gradient(45deg, #0977ab, #93135a, #a29411, #0977ab);
	--invert: invert(0);

	--link-color: rgb(212, 212, 255);
	--link-hover: rgb(188, 188, 255);
}
