@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 300;
	src: local("Onest"),
		url("fonts/woff/OnestLight.woff") format("woff"),
		url("fonts/ttf/OnestLight.ttf") format("ttf");
}
@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 900;
	src: local("Onest"),
		url("fonts/woff/OnestBlack.woff") format("woff"),
		url("fonts/ttf/OnestBlack.ttf") format("ttf");
}

html{
	font-size: 18px;
	overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;

	background: var(--main-bg);
	color: var(--main-color);
	font-size: 1rem;
	line-height: 1.5;
	font-family: 'Onest', sans-serif;
	font-weight: 300;
	display: grid;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: lowercase;
}

.animb{
	transition: transform .3s;
}
.bottom{
	transform: translate(0, 200px) !important;
}



/* HEADER */
.header{
	height: 100vh;
}
@media screen and (width <= 610px) {
	.header{
		width: 100vw;
	}
}



/* HELLo */
.hello{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10vh 20%;
}
@media screen and (width <= 1200px) {
	.hello{
		padding: 0 10%;
	}
}
@media screen and (width <= 850px) {
	.hello{
		padding: 25px;
		justify-content: space-between;
	}
}
@media screen and (width <= 610px) {
	.hello{
		width: 90vh;
		height: 100vw;
		transform: rotate(90deg);
		transform-origin: 50vw 50vw;
		justify-content: space-around;
		padding: 0;
	}
	.hello::before{
		display: block;
		position: absolute;
		content: '';
		width: 100px;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--main-bg));
		right: 0;
	}
}



/* HELLO ROW */
.hello_row{
	display: flex;
	flex-direction: none auto;
	align-items: center;
}



/* HELLO COLUMN */
/* header */
.hello_column_header{
	margin: 0;
	padding: 0 10px;
	font-size: 7.5rem;
}
@media screen and (width <= 1200px) {
	.hello_column_header{
		font-size: 6rem;
	}
}
@media screen and (width <= 850px) {
	.hello_column_header{
		font-size: 5rem;
	}
}
@media screen and (width <= 400px) {
	.hello_column_header{
		font-size: 3.5rem;
	}
}
/* span */
.hello_column_span{
	width: 100%;
	height: 2.5rem;
	background: var(--gradient);
	background-size: 200vw;
	animation: hello_column_span infinite linear;
	z-index: -1;
	overflow: hidden;
}
@keyframes hello_column_span {
	0%{background-position: 0vw;}
	100%{background-position: 200vw;}
}
@media screen and (width <= 1200px) {
	.hello_column_span{
		height: 2.5rem;
	}
}
@media screen and (width <= 850px) {
	.hello_column_span{
		margin-left: -100%;
	}
	@keyframes hello_column_span {
		0%{background-position: 0vh;}
		100%{background-position: 200vh;}
	}
}
@media screen and (width <= 610px) {
	.hello_column_span{
		margin: 0;
		height: 2rem;
	}
}



/* MAIN */
.main{
	padding: 20px 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (width <= 1200px) {
	.main{
		padding: 0 10%;
	}
}
@media screen and (width <= 1000px) {
	.main{
		padding: 0 25px;
	}
}


/* headers */
.main_headers{
	position: relative;
	margin: 50px 0 0 0;
	padding: 5px 25px;
	text-align: center;
	font-size: 1.8rem;
}
.main_headers::before{
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 3.2rem;
	left: 0;
	top: 0;
	backdrop-filter: invert(1);
	transform: rotate(1deg);
}
@media screen and (width <= 1200px) {
	.main_headers{
		font-size: 1.4rem;
		margin: 25px 0 0 0;
	}
	.main_headers::before{
		height: 2.6rem;
	}
}



/* NEWEST */
.newest{
	width: 100%;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content 50px;
	column-gap: 50px;
	row-gap: 10px;
	margin: 50px 0;
}
.newest::before{
	display: block;
	position: absolute;
	content: '';
	width: 150vw;
	height: 118%;
	margin: -2% -50vw;
	transform: rotate(2deg);
	background: var(--sec-bg);
	z-index: -1;
}
@media screen and (width <= 760px) {
	.newest{
		grid-template-columns: 1fr;
	}
	.newest::before{
		height: 100%;
		margin: -6% -50vw;
	}
}



.newest_preview{
	background: lightblue;
	width: 100%;
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}
@media screen and (width <= 760px) {
	.newest_preview{
		height: 40vh;
	}
}
.newest_preview_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.newest_title{
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 25px 0 0 0;
}
.newest_description{
	width: 100%;
	margin: 0;
	padding: 0;
}
.newest_link{
	padding: 0 0 25px 0;
}
.newest_link a{
	float: right;
	padding: 6px 25px;
	position: relative;
	border: 5px solid var(--main-color);
}
@media screen and (width <= 850px) {
	.newest_link a{
		font-size: 0.8rem;
		border: 3px solid var(--main-color);
	}
}
.newest_link a::before{
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	backdrop-filter: invert(1);
	left: 12px;
	top: 8px;
	transform: rotate(-2deg);
	transition: .3s;
}
.newest_link a:hover::before{
	left: 0px;
	top: 0px;
	transform: rotate(0deg);;
}








/* gallary */
.gallary{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	margin: 50px 0;
}
@media screen and (width <= 610px) {
	.gallary{
		grid-template-columns: 1fr;
		margin: 25px 0;
	}
}
.point_of_art{
	position: relative;
	padding: 25px;
	display: grid;
}
@media screen and (width <= 925px) {
	.point_of_art{
		padding: 18px;
	}
}
.wight_point_of_art{
	grid-column: 1 / 3;
}
@media screen and (width <= 610px) {
	.wight_point_of_art{
		grid-column: 1 / 2;
	}
}


.point_of_art_preview{
	width: 100%;
	height: 65vh;
}
.point_of_art_preview > *{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media screen and (width <= 750px) {
	.point_of_art_preview{
		height: 55vh;
	}
}


.point_of_art_header{
	position: absolute;
	margin: 0 0 0 0;
	padding: 5px 25px;
	width: max-content;
	max-width: 90%;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	color: var(--sec-color);
	text-align: center;
}
.wight_point_of_art .point_of_art_header{
	left: auto;
	top: auto;
	right: 50px;
	bottom: 50px;
	transform: translate(0, 0);
}
@media screen and (width <= 925px) {
	.point_of_art_header{
		font-size: 1.1rem;
		top: 101%;
	}
}
@media screen and (width <= 610px) {
	.point_of_art:nth-child(odd) .point_of_art_header{
		left: auto;
		top: auto;
		right: 30px;
		bottom: 30px;
		transform: translate(0, 0);
	}
	.point_of_art_header{
		font-size: 1rem;
		padding: 6px 20px;
	}
}
@media screen and (width <= 400px) {
	.point_of_art_header{
		width: 100% !important;
		left: 18px !important;
		top: auto !important;
		right: 18px !important;
		bottom: 18px !important;
		transform: translate(0, 0) !important;
	}
}



/* about_us */
.about_us{
	width: 100%;
	position: relative;
	margin: 50px 0;
}
.about_us::before{
	display: block;
	position: absolute;
	content: '';
	width: 150vw;
	height: 118%;
	margin: -2% -50vw;
	transform: rotate(-2deg);
	background: var(--sec-bg);
	z-index: -1;
}